.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 80px;
    z-index: 200;
}
.sidebar-link{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: lightgray;
}
.sidebar-link img{
    height: 35px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
}